<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <servlet>
        <servlet-name>Tutorial4_16</servlet-name>
        <servlet-class>Tutorial4_16</servlet-class>
        <init-param>
            <param-name>number</param-name>
            <param-value>12345</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Tutorial4_16</servlet-name>
        <url-pattern>/Tutorial4_16</url-pattern>
    </servlet-mapping>
    
      <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>RegServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/RegServlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
