<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
   
    <welcome-file-list>  
        <welcome-file>login.jsp</welcome-file>  
    </welcome-file-list>  

   <context-param>  
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/stjkms</param-value>
    </context-param>  

    <context-param>  
        <param-name>targetDir</param-name>
        <param-value>/tmp/stjkms-reports</param-value>
    </context-param>  

    <context-param>  
        <param-name>user</param-name>
        <param-value>root</param-value>
    </context-param>  
    
    <context-param>  
        <param-name>password</param-name>
        <param-value>Kripalu@1008</param-value>
    </context-param> 
    
    <context-param>  
        <param-name>contacts_table</param-name>
        <param-value>contacts</param-value>
    </context-param>   
    
    
    <context-param>  
        <param-name>pin</param-name>
        <param-value>1401</param-value>
    </context-param>
    
   </web-app>
